# Railway Backend Environment Variables
PORT=3000
HOST=0.0.0.0
NODE_ENV=production
DATABASE_URL=data/chess.sqlite
PUBLIC_ORIGIN=https://co-vua-sai-gon-api.up.railway.app
FRONTEND_URL=https://co-vua-sai-gon.vercel.app

# Cloudinary Storage Configuration
# CLOUDINARY_URL=cloudinary://1234567890:abcdef@mycloud
# CLOUDINARY_CLOUD_NAME=mycloud
# CLOUDINARY_API_KEY=1234567890
# CLOUDINARY_API_SECRET=abcdef
# CLOUDINARY_UPLOAD_PRESET=covuasaigon

